<h4>Single Select</h4>

<%= form.collection_select :name, { id_1: "Option 1", id_2: "Option 2", id_3: "Option 3" }, :first, :last, {}, { placeholder: "Select one" } %>

<h4>Multi Select</h4>

<%= form.collection_select :name, { id_1: "Option 1", id_2: "Option 2", id_3: "Option 3" }, :first, :last, {}, { placeholder: "Select", multiple: true, clearable: true } %>
